{% extends 'sleep_tracker/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
       <h1 class="display-5 fw-bold mb-3">Добро пожаловать! Ваши данные:</h1>
{% if records %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="table">
                                <tr>
                                    <th>Дата сна</th>
                                    <th>Продолжительность (часы)</th>
                                    <th>Качество сна</th>
                                    <th>Заметки</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in records %}
                                <tr>
                                    <td class="fw-semibold">{{ record.sleep_date }}</td>
                                    <td>{{ record.duration_hours }}</td>
                                    <td>
                                        {% if record.quality == 1 %}
                                            Очень плохо
                                        {% elif record.quality == 2 %}
                                            Плохо
                                        {% elif record.quality == 3 %}
                                        Нормально
                                        {% elif record.quality == 4 %}
                                            Хорошо
                                        {% elif record.quality == 5 %}
                                            Отлично
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if record.notes %}
                                            {{ record.notes }}
                                        {% else %}
                                            <span class="text-muted">—</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-info text-center">
                        <h4>Записей пока нет</h4>
                        <p>База данных пуста</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="{{ form.sleep_date.id_for_label }}" class="form-label">
                    {{ form.sleep_date.label }}
                </label>
                {{ form.sleep_date }}
                {% if form.sleep_date.errors %}
                    <div class="text-danger">{{ form.sleep_date.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="{{ form.duration_hours.id_for_label }}" class="form-label">
                    {{ form.duration_hours.label }}
                </label>
                {{ form.duration_hours }}
                {% if form.duration_hours.errors %}
                    <div class="text-danger">{{ form.duration_hours.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="{{ form.quality.id_for_label }}" class="form-label">
                    {{ form.quality.label }}
                </label>
                {{ form.quality }}
                {% if form.quality.errors %}
                    <div class="text-danger">{{ form.quality.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="{{ form.notes.id_for_label }}" class="form-label">
                    {{ form.notes.label }}
                </label>
                {{ form.notes }}
                {% if form.notes.errors %}
                    <div class="text-danger">{{ form.notes.errors }}</div>
                {% endif %}
            </div>


        </form>
    </div>
</div>
{% endblock %}