{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Задача коммивояжёра</h1>
<p class="lead">Добро пожаловать! Ознакомьтесь с инструкцией!</p>
<h5 class="lead">Задача коммивояжёразаключается в том, чтобы найти кратчайший маршрут через заданные города по одному разу с возвратом в исходный пункт </h5>

<p align="left">1. Вы находитесь на главном экране</p>
<p align="left">2. Для того, чтобы решить задачу коммивояжёра, необходимо перейти во вкладку "решение"</p>
<p align="left">3. Для того, чтобы просмотреть историю решения задач, перейдите во вкладку "История расчётов""</p>

{% endblock %}